.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.profile-data {
    padding-top: 1.5rem;
    padding-bottom: 0.3rem;
    display: flex;
    gap: 0.5rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.profile-card {
    background-color: #1B263B;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    color: #E0E1DD;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    margin: 0 auto;
    max-width: 700px;
    margin-top: 1rem;
}
.profile-container {
    display: flex;
    gap: 1rem;
    width: 100%;
}
.profile-card h2 {
    text-align: center;
    margin-bottom: 1rem;
}
.profile-card h3 {
    text-align: center;
    padding: 0 2rem;
}
.profile-card form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.password-form{
    display: flex;
}
.password-input {
    width: 100%;
    display: flex;
    gap: 1rem;
}
.password-form input {
    width: 100%;
    box-sizing: border-box;
}
.profile-card label {
    margin-bottom: 0.5rem;
    font-weight: 600;
}
.profile-card input {
    padding: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: none;
    background-color: #E0E1DD;
    color: #0D1B2A;
    font-size: 1rem;
}
.profile-card button {
    background-color: #415A77;
    border: none;
    padding: 0.75rem;
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    font-size: 1rem;
}
.profile-card button:hover {
    background-color: #FF6B6B;
}

.toggle-switch {
  display: flex;
  border: 2px solid #ccc;
  border-radius: 30px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  width: fit-content;
  margin-left: 1rem;
}

.toggle-switch.visible {
  opacity: 1;
  pointer-events: auto;
}

.toggle-switch .option {
  flex: 1;
  padding: 0.5rem 1rem;
  color: #E0E1DD;   
  cursor: pointer;
  user-select: none;
  transition: background 0.3s, color 0.3s;
}

.toggle-switch .option.active[data-value="1"] {
  background: #2da033 !important;
  color: white !important;
  border-right: 2px solid #ccc;
}

.toggle-switch .option.active[data-value="0"] {
  background: #d92020 !important;
  color: white !important;
  border-left: 2px solid #ccc;
}

@media (max-width: 768px) {
    .profile-container {
        flex-wrap: wrap;
    }
    .password-input{
        flex-wrap: wrap;
        gap: 0;
    }
    .profile-data {
        flex-wrap: wrap;
    }
}